body {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    cursor: default;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #ffffff;
    color: #131922;
    overflow-y: scroll;
}

@media (min-width: 600px) {
    .hero {
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/images/bg2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100%;
        width: 100%;
        position: absolute;
    }
    nav {
        padding: 3% 5% 0% 5%;
        color: #fff;
    }
    .epoch {
        font-size: 250%;
        font-weight: 600;
    }
    .toggle {
        float: right;
        font-size: 150%;
        cursor: pointer;
    }
    .epoz {
        padding: 3% 5% 0% 5%;
        font-size: 250%;
        font-weight: 600;
        color: #131922;
    }
    .closebtn {
        right: 5%;
    }
    .intro {
        padding: 2%;
        margin: 17% 0% 0% 10%;
        font-size: 130%;
        color: aliceblue;
    }
    .button {
        padding: 1%;
        background-color: #ffffff;
        border-radius: 15px;
        transition: 0.2s;
    }
    .button a {
        color: #131922;
        text-decoration: none;
        transition: 0.2s;
    }
    .button:hover,
    .button a:hover {
        background-color: #131922e7;
        color: #ffffff;
        transition: 0.2s;
    }
    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #ffffffde;
        overflow-x: hidden;
        transition: 0.5s;
    }
    .overlay-content {
        position: relative;
        top: 5%;
        left: 15%;
        text-align: left;
    }
    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 400%;
        color: #121a27b6;
        display: block;
        transition: 0.3s;
    }
    .overlay .con {
        float: right;
        width: 20%;
    }
    #con {
        font-size: 100%;
        color: #121a27b6;
    }
    #con:hover {
        color: #131922;
    }
    .overlay #active {
        color: #131922;
    }
    .overlay a:hover,
    .overlay a:focus {
        color: #131922;
    }
    .overlay .closebtn {
        position: absolute;
        font-size: 150%;
    }
    .mission {
        padding-top: 100vh;
        height: 50vh;
    }
    .vision {
        height: 50vh;
        background-color: #131922;
        color: #ffffff;
    }
    .vandm {
        padding: 5%;
    }
    .vi,
    .mi {
        float: right;
        margin-right: 15%;
        font-size: 120%;
    }
    .vi {
        margin-top: 4%;
    }
    #our {
        color: rgb(47, 128, 143);
    }
    #our,
    #mission,
    #vision {
        margin-left: 20%;
        font-size: 200%;
    }
    .services {
        height: 110vh;
        padding: 3% 10% 5% 10%;
        background-color: #18212e;
        color: #ffffff;
    }
    .services h1 {
        font-size: 250%;
    }
    .tiles {
        padding: 1%;
    }
    .services .tile {
        border-radius: 20px;
        display: inline-block;
        height: 25%;
        margin: 1%;
        padding: 1%;
        width: 20%;
    }
    .services .tile:hover {
        box-shadow: 2px 2px 2px 1px rgba(97, 236, 84, 0.781), 2px 2px 2px 1px rgba(219, 230, 75, 0.651), 2px 2px 2px 1px rgba(255, 2, 242, 0.507);
    }
    .count {
        min-height: 30vh;
    }
    #content {
        padding: 5%;
    }
    .oneline {
        display: inline-block;
        padding: 4%;
        text-align: center;
        margin: 1%;
        border: 1px solid #696979;
        border-radius: 50px;
    }
    #content h1 {
        font-size: 150%;
    }
    #content .counter,
    #plus {
        font-size: 300%;
    }
    /* uhgierhtgf7 */
    .mySlides {
        display: none;
    }
    /* Slideshow container */
    .slideshow-container {
        max-width: 100%;
        position: relative;
        margin: auto;
        background-color: #19273a;
        height: 50vh;
    }
    /* The dots/bullets/indicators */
    .dot {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    .active {
        background-color: #717171;
    }
    .slides {
        height: 35vh;
        width: 50%;
        margin: 3% 0% 0% 25%;
        padding: 2%;
        color: #ffffff;
    }
    .slides h1 {
        font-size: 300%;
        color: rgb(83, 201, 255);
    }
    /* Fading animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }
    @-webkit-keyframes fade {
        from {
            opacity: 0.4;
        }
        to {
            opacity: 1;
        }
    }
    @keyframes fade {
        from {
            opacity: 0.4;
        }
        to {
            opacity: 1;
        }
    }
    .redi {
        height: 30vh;
        background-color: #152133;
        padding: 5% 0 0 10%;
        font-size: 150%;
    }
    .redi a {
        color: #808792;
        text-decoration: none;
    }
    .redi a:hover {
        color: #ffffff;
    }
    footer {
        height: 30vh;
        background-color: rgb(27, 47, 85);
        margin-top: -2vh;
        color: #ffffff;
        padding: 2% 5% 0% 5%;
    }
    footer p {
        font-size: 200%;
    }
    footer a {
        text-decoration: none;
        color: #ffffff;
    }
    footer a:hover {
        color: #808792;
    }
    footer span {
        float: right;
        margin-top: -10vh;
    }
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}